<div class="list-container">
    {{#each this.flashMessages.queue as |flash|}}
        <FlashMessage @flash={{flash}} class="round"/>
    {{/each}}
    <h1>List of Students</h1>
    <div class="list-div-1" {{on-click-outside this.clearText exceptSelector=".list-table-container"}}>
        <PowerSelectMultiple
            @options={{this.columns}}
            @onChange={{this.updateColumn}}
            @selected={{this.selectedColumns}}
            @allowClear={{true}}
            @placeholder="Select columns..."
            class="list-select"
            as |column|
        >
            {{column}}
        </PowerSelectMultiple>
        <input placeholder="Search" type="text" value={{this.search}} {{on 'input' this.searchText.perform}}/>
        <button type="button" {{on "click" this.clearText}} {{on-key "Enter"}}>Clear</button>
    </div>
    <div class="list-div-2">
        <button type="button" {{on "click" this.addStudent}}>Add Student</button>
        <button type="button" {{on "click" this.deleteAll}} class="list-div-del">Delete All</button>
        <PowerSelect
            @options={{this.originalColumn}}
            @selected={{null}}             {{!-- avoid default behavior --}}
            @onChange={{fn this.toggleColumn}}
            @placeholder="Customise columns..."
            @searchEnabled={{false}}
            @closeOnSelect={{false}}
            as |col|
            >
            <label>
                <input 
                    type="checkbox" 
                    checked={{this.checked col}} 
                    {{on "change" (fn this.toggleColumn col)}}
                />
                {{col}}
            </label>
        </PowerSelect>
    </div>
    
    <div class="list-table-container">
        <table class="list-table">
            <thead>
                <tr>
                    {{#each this.copyCol as |col index|}}
                        {{#if col.visibility}}
                        <th {{on "click" (fn this.columnSort index)}}>{{col.name}}</th>
                        {{/if}}
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <VerticalCollection
                    @items={{this.Students}}
                    @estimateHeight={{47}}
                    @staticHeight={{false}}
                    @bufferSize={{4}}
                    @renderAll={{false}}
                    @containerSelector="body"
                    @firstReached={{perform this.firstReached}}
                    @lastReached={{perform this.lastReached}}
                    as |student index|
                >
                    <tr>
                        {{#each this.copyCol as |col|}}
                            {{#if col.visibility}}
                                <td>
                                    {{#if (eq col.name "S.No")}}
                                        {{add index 1}}
                                    {{else if (eq col.name "Roll No")}}
                                        {{student.rollno}}
                                    {{else if (eq col.name "Name")}}
                                        {{student.name}}
                                    {{else if (eq col.name "Department")}}
                                        {{student.dept}}
                                    {{else if (eq col.name "DOB")}}
                                        {{student.dob}}
                                    {{else if (eq col.name "Interests")}}
                                    {{#each (slice student.interests 0 3) as |interest idx|}}
                                        {{if idx ", "}}{{interest}}
                                    {{/each}}
                                    {{else if (eq col.name "Address")}}
                                        {{student.address}}
                                    {{else if (eq col.name "Action")}}
                                        <div class="table-div">
                                            <LinkTo @route="student.edit" @model={{student.id}} class="edit btn">Edit</LinkTo>
                                            <button type="button" class="btn" {{on "click" (fn this.deleteStudent student)}}>Delete</button>
                                        </div>
                                    {{/if}}
                                </td>
                            {{/if}}
                        {{/each}}
                    </tr>

                </VerticalCollection>
            </tbody>
        </table>
    </div>
</div>